<!DOCTYPE html>
<html>
<head>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.material.mobile.min.css" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"></script>
</head>
<body>

    <div>
        <div>
            <br><br>
            Search By UserName/Name/Email:
            <input class=k-textbox type=text id="txtSearchString" placeholder="enter search text..." />
            <button id="btnSearch">Search</button>
        </div>
        <br><br>
        <div id="kGrid"></div>
        <div id="details"></div>
    </div>
    <script type="text/javascript">
        var wnd, detailsTemplate;
        $(document).ready(onReady);
        function onReady() {
            // Click on Search button
            $("#btnSearch").kendoButton({
                click: onSearch
            })

            // Display contact list on kendo grid.
            $("#kGrid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "http://jsonplaceholder.typicode.com/users"
                    },
                    schema: {

                    },
                    serverPaging: false,
                    serverFiltering: false,
                    pageSize: 5
                },
                height: 550,
                pageable: true,
                sortable: true,
                selectable: 'row',
                columns: [
                      {
                          field: "id",
                          width: 60,
                          title: "ID",
                      },
                      {
                          field: "username",
                          title: "Username",
                      },
                      {
                          field: "name",
                          title: "Name",
                      },
                      {
                          field: "email",
                          title: "Email",
                      },
                      {
                          field: "address.city",
                          title: "City",
                      },
                      {
                          field: "phone",
                          title: "Phone",
                      },
                      {
                          field: "website",
                          title: "Website",
                      },
                      {
                          field: "company.name",
                          title: "Company Name",
                      }],
                // Click on any contact to show business card.
                change: function (arg) {
                    showDetails(this.select());
                },

            }).data("kendoGrid");

            // Create popup window
            wnd = $("#details").kendoWindow({
                modal: true,
                visible: false,
                resizable: false,
                width: 450
            }).data("kendoWindow");

            detailsTemplate = kendo.template($("#template").html());
        }

        // Search contact list
        function onSearch() {
            var q = $("#txtSearchString").val();
            var grid = $("#kGrid").data("kendoGrid");
            grid.dataSource.filter({
                logic: "or",
                filters: [
                  { field: "name", operator: "contains", value: q },
                  { field: "username", operator: "contains", value: q },
                  { field: "email", operator: "contains", value: q }
                ]

            });
        }

        // Show business card info
        function showDetails(e) {
            var grid = $("#kGrid").data("kendoGrid");
            var dataItem = grid.dataItem(e);
            console.log(wnd);
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }
    </script>

    @*Create business card template*@
    <script type="text/x-kendo-template" id="template">
        <div id="details-container">
            <div class="business-card-body">
                <div class="name-section">
                    #= name #
                    <br />
                    <div class="company-name">#= company.name #</div>
                </div>
            </div>
            <div class="business-card-triangle"></div>
            <div class="business-card-footer">
                <div class="business-info">#= phone # | #= email #</div>
                <div class="business-address">#= address.city #</div>
            </div>
        </div>
    </script>

</body>
</html>
