@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>The Simple Contact List Web Application Demo</h2>
    <p class="lead">This is a web application using ASP.NET MVC with Kendo UI.</p>
    
</div>

